@import 'tailwindcss';

body {
  background: radial-gradient(circle at top left, #1e1e2f, #0b0b14);
  color: white;
  min-height: 100vh;
  margin: 0;
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(156, 163, 175, 0.3);
  border-radius: 10px;
}
